extends layout

mixin patientItem(patient)
	a.list-group-item(href='/patient/#{patient.fulname}')
		h4.list-group-item-heading #{patient.name} #{patient.lastname} (#{patient.personnumber})
		p.list-group-item-text Daglig aktivitet: #{patient.dailyactivity} steg / dag, daglig blodtryckstagning: #{patient.dailybloodpressuretake} ggr / dag

block content   
	.row
		.col-lg-12
			h1.page-header= title
	.row
		if (typeof error != 'undefined' && error)
			.alert.alert-danger(role='alert')
				a.alert-link(href='#') #{message}
		else if(typeof error != 'undefined' && !error)
			.alert.alert-success(role='alert')
				a.alert-link(href='#') #{message}
		if (patients != null)
			.list-group
				for patient in patients
					+patientItem(patient)
